doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 도서 목록 페이지
    body 
    h1 도서 목록
    ul 
        each book, index in javascript
            li #{index + 1}. #{book.title} - #{book.author} (#{book.year})
    a(href="/", target="_self") 돌아가기
