doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title book페이지
    body 
    h1= book.title 
    p 저자: #{book.author}
    p 출간 연도: #{book.year}
    a(href="/")
        button 돌아가기
